.container {
  flex: 6;
  background-color: #000;
  overflow-y: scroll;
}

.wrapper {
  width: 600px;
  height: 100vh;
  border: none;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  color: #fff;
}

.brand {
  height: 8rem;
  display: flex;
  align-items: center;
}

.brand > h2 {
  font-size: 3rem;
  font-weight: 400;
  padding-left: 2rem;
}

.title {
  height: 3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.title > h2 {
  font-weight: 300;
  font-size: 1.8rem;
}

.card {
  padding: 1rem 3rem;
  margin-bottom: 3rem;
}

.cardInfo {
  display: flex;
  align-items: center;
  border: none;
  padding-bottom: 1rem;
  border-bottom: 1px solid #444;
}

.cardInfo > img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.5s;
  cursor: pointer;
}

.cardInfo > img:hover {
  transform: scale(0.99);
}

.cardInfo > p {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 0.7rem 0 1rem;
  transition: all 0.5s;
  cursor: pointer;
}

.cardInfo > p:hover {
  text-decoration: underline;
}

.cardInfo > span {
  font-size: 1.2rem;
}

.tweet {
  height: auto;
  padding: 1rem 0;
  border-bottom: 1px solid #444;
  margin-bottom: 1rem;
}

.tweet > p {
  font-size: 1.6rem;
  line-height: 1.4;
  border: none;
}

.action {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.like,
.comment,
.share {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.like:hover,
.comment:hover,
.share:hover {
  opacity: 0.8;
}

.like > span,
.comment > span,
.share {
  font-size: 1.4rem;
  margin-left: 0.6rem;
}
