.container {
  flex: 5;
  background-color: #000;
}

.wrapper {
  width: 60rem;
  padding-top: 2rem;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  height: 100vh;
}

.lists {
  list-style: none;
}

.listItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0.2rem 1rem;
  border-radius: 18px;
  margin-bottom: 1.4rem;
  cursor: pointer;
}

.imgContainer {
  display: flex;
  align-items: center;
  width: 65%;
}

.listItem:hover {
  background-color: rgb(75, 23, 127);
}

.imgContainer > img {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.imgContainer > div {
  margin-left: 2rem;
}

.imgContainer > div > .bgName {
  font-size: 1.6rem;
  margin-bottom: 0.7rem;
}

.imgContainer > div > p {
  font-size: 1rem;
}

.btnFollow {
  color: #000;
  background-color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.8rem 1.4rem;
  transition: all 1s;
  border-radius: 21px;
}

.btnFollow:hover {
  background-color: rgb(39, 6, 73);
  color: #fff;
}
