.container {
  max-height: 200px;
  margin: 1.2rem 0;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.comments {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.comments > img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.info > span {
  align-self: flex-start;
  font-weight: 500;
  font-size: 1.4rem;
}

.info > p {
  font-size: 1.4rem;
  color: rgb(231, 225, 225);
}

.date {
  flex: 1;
  align-self: center;
  font-size: 1.2rem;
  color: gray;
}

.input {
  margin: 1rem 0;
}

.input > input {
  padding: 1rem;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #444;
  color: #fff;
  width: 80%;
  outline: none;
}

.input > button {
  width: 15%;
  padding: 0.6rem 1rem;
  border: none;
  font-size: 1.6rem;
  margin-left: 1rem;
  background-color: rgb(84, 25, 148);
  color: #fff;
  cursor: pointer;
}
